<header>
	<div class="main-info">
		<div class="logo">
			<a href="{{blog_url}}">
				<svg>
					
				</svg>
			</a>
		</div>
		<div class="info">
			<a href="tel:{{phone_formatted}}">{{phone}}</a>
			<a href="mailto:{{data.email}}">{{data.email}}</a>
		</div>
	</div>
	<div class="nav-section">
		<div class="social-nav">
			{% for social_link in social_data %}
				<a href="{{social_link.url}}">{{social_link.icon}}</a>
			{% endfor %}
		</div>
		<nav class="main-nav">
			{% for nav_link in data.main_navigation_links %}
				<a href="{{nav_link.url}}">{{nav_link.label}}</a>
			{% endfor %}
		</nav>
	</div>
</header>