{% extends "base.twig" %}

{% block content %}
	<article>
		<h2>{{post.post_title}}</h2>
		{{post.post_content|wpautop}}
		<ul>
			<li><a href="https://www.facebook.com/sharer.php?u={{social_url}}" class="facebook">Facebook</a></li>
			<li><a href="https://twitter.com/intent/tweet?url={{social_url}}" class="twitter">Twitter</a></li>
			<li><a href="https://plus.google.com/share?url={{social_url}}" class="gplus">Google+</a></li>
		</ul>
	</article>

{% endblock %}
